In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 一、 创建对象

1. 可以通过传递一个list对象来创建一个Series，pandas 会默认创建整型索引：

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

2、通过传递一个 numpyarray，时间索引以及列标签来创建一个DataFrame：

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
 df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
 df

                   A         B         C         D
2013-01-01 -0.714074  0.777404 -0.985489  0.296632
2013-01-02  0.526748  1.359652 -1.536886 -0.175826
2013-01-03  1.829744  0.619726  0.467371 -0.790373
2013-01-04  0.841779  1.073806  0.801315  0.700767
2013-01-05 -0.539924 -0.359301  0.138966 -2.218633
2013-01-06  0.064927 -0.185003  0.214145 -0.934077

3、通过传递一个能够被转换成类似序列结构的字典对象来创建一个DataFrame：

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [12]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

4、查看不同列的数据类型：

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# 二、 查看数据

 1、 查看DataFrame中头部和尾部的行：

In [15]:
df.head()

                   A         B         C         D
2013-01-01 -0.714074  0.777404 -0.985489  0.296632
2013-01-02  0.526748  1.359652 -1.536886 -0.175826
2013-01-03  1.829744  0.619726  0.467371 -0.790373
2013-01-04  0.841779  1.073806  0.801315  0.700767
2013-01-05 -0.539924 -0.359301  0.138966 -2.218633

In [16]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.841779  1.073806  0.801315  0.700767
2013-01-05 -0.539924 -0.359301  0.138966 -2.218633
2013-01-06  0.064927 -0.185003  0.214145 -0.934077

2、 显示索引、列和底层的 numpy 数据：

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.values

array([[-0.71407382,  0.77740379, -0.98548927,  0.29663188],
       [ 0.52674822,  1.35965185, -1.53688598, -0.17582551],
       [ 1.82974365,  0.61972616,  0.46737108, -0.79037256],
       [ 0.84177874,  1.0738059 ,  0.80131495,  0.70076682],
       [-0.53992423, -0.35930131,  0.13896585, -2.21863343],
       [ 0.06492742, -0.18500295,  0.21414453, -0.93407716]])

3、 describe()函数对于数据的快速统计汇总：

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.334867  0.547714 -0.150096 -0.520252
std    0.945181  0.686077  0.908157  1.039763
min   -0.714074 -0.359301 -1.536886 -2.218633
25%   -0.388711  0.016179 -0.704375 -0.898151
50%    0.295838  0.698565  0.176555 -0.483099
75%    0.763021  0.999705  0.404064  0.178518
max    1.829744  1.359652  0.801315  0.700767

4、 对数据的转置：

In [21]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.714074    0.526748    1.829744    0.841779   -0.539924    0.064927
B    0.777404    1.359652    0.619726    1.073806   -0.359301   -0.185003
C   -0.985489   -1.536886    0.467371    0.801315    0.138966    0.214145
D    0.296632   -0.175826   -0.790373    0.700767   -2.218633   -0.934077

5、 按轴进行排序

In [22]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.296632 -0.985489  0.777404 -0.714074
2013-01-02 -0.175826 -1.536886  1.359652  0.526748
2013-01-03 -0.790373  0.467371  0.619726  1.829744
2013-01-04  0.700767  0.801315  1.073806  0.841779
2013-01-05 -2.218633  0.138966 -0.359301 -0.539924
2013-01-06 -0.934077  0.214145 -0.185003  0.064927

6、 按值进行排序

In [23]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05 -0.539924 -0.359301  0.138966 -2.218633
2013-01-06  0.064927 -0.185003  0.214145 -0.934077
2013-01-03  1.829744  0.619726  0.467371 -0.790373
2013-01-01 -0.714074  0.777404 -0.985489  0.296632
2013-01-04  0.841779  1.073806  0.801315  0.700767
2013-01-02  0.526748  1.359652 -1.536886 -0.175826

# 三、 选择

## 获取

1、 选择一个单独的列，这将会返回一个Series，等同于df.A：

In [25]:
df['A']

2013-01-01   -0.714074
2013-01-02    0.526748
2013-01-03    1.829744
2013-01-04    0.841779
2013-01-05   -0.539924
2013-01-06    0.064927
Freq: D, Name: A, dtype: float64

2、 通过[]进行选择，这将会对行进行切片

In [26]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.714074  0.777404 -0.985489  0.296632
2013-01-02  0.526748  1.359652 -1.536886 -0.175826
2013-01-03  1.829744  0.619726  0.467371 -0.790373

In [27]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.526748  1.359652 -1.536886 -0.175826
2013-01-03  1.829744  0.619726  0.467371 -0.790373
2013-01-04  0.841779  1.073806  0.801315  0.700767

# 通过标签选择

1、 使用标签来获取一个交叉的区域

In [28]:
df.loc[dates[0]]

A   -0.714074
B    0.777404
C   -0.985489
D    0.296632
Name: 2013-01-01 00:00:00, dtype: float64

2、 通过标签来在多个轴上进行选择

In [29]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.714074  0.777404
2013-01-02  0.526748  1.359652
2013-01-03  1.829744  0.619726
2013-01-04  0.841779  1.073806
2013-01-05 -0.539924 -0.359301
2013-01-06  0.064927 -0.185003

3、 标签切片

In [30]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.526748  1.359652
2013-01-03  1.829744  0.619726
2013-01-04  0.841779  1.073806

4、 对于返回的对象进行维度缩减

In [32]:
df.loc['20130102',['A','B']]

A    0.526748
B    1.359652
Name: 2013-01-02 00:00:00, dtype: float64